body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message-info{
    border: 1px solid lightgray;
    background-color: lightblue;
    padding: 8px;
    margin: 8px 20px 8px 20px;
    width: 95%;
    border-radius: 10px;
    color: darkblue;
    opacity: 0.75;
}
.message-success {
    border: 1px solid lightgray;
    background-color: lightgreen;
    padding: 8px;
    margin: 8px 20px 8px 20px;
    width: 95%;
    border-radius: 10px;
    color: green;
    opacity: 0.75;
}
.message-warning {
    border: 1px solid lightgray;
    background-color: lightyellow;
    padding: 8px;
    margin: 8px 20px 8px 20px;
    width: 95%;
    border-radius: 10px;
    color: darkkhaki;
    opacity: 0.75;
}
.message-error {
    border: 1px solid lightgray;
    background-color: lightsalmon;
    padding: 8px;
    margin: 8px 20px 8px 20px;
    width: 95%;
    border-radius: 10px;
    color: darkred;
    opacity: 0.75;
}